In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import os
path = os.getcwd() + '/dane1.txt'
data = pd.read_csv(path, header=None, names=['Population', 'Profit'])

## Ex 1

In [3]:
data.head()

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [4]:
data.describe()

       Population     Profit
count   97.000000  97.000000
mean     8.159800   5.839135
std      3.869884   5.510262
min      5.026900  -2.680700
25%      5.707700   1.986900
50%      6.589400   4.562300
75%      8.578100   7.046700
max     22.203000  24.147000

## Ex 2

In [ ]:
plt.scatter(data.Population, data.Profit)
plt.xlabel('Population')
plt.ylabel('Profit')
plt.title('Relation between population and profit')
plt.show()

## Ex 3

In [ ]:
data.insert(loc=0, column='Cost', value=1, allow_duplicates=False)
data.head()

## Ex 4

In [ ]:
X = data[['Cost', 'Population']]
X.head()

In [ ]:
y = data.Profit
y.head()

In [ ]:
X = np.matrix(X.values, dtype=np.float64).transpose()
y = np.matrix(y.values, dtype=np.float64)
theta = np.matrix(np.array([0,0]), dtype=np.float64)

## Ex 6

In [ ]:
def computeCost(X, y, theta):
    return np.sum(np.power(np.dot(theta, X) - y, 2))/(2*X.shape[1])

## Ex 7

In [ ]:
computeCost(X, y, theta)

## Ex 8

In [ ]:
alpha = 0.01
it = 1000

In [ ]:
def gradientDescent (X, y, theta, alpha, iterations):
    cost = []
    for it in range(iterations):
        hypothesis = theta.dot(X)
        for i in range(theta.size):
            theta[0, i] = float(theta[0, i] - alpha*(1/y.shape[1])*np.sum((hypothesis - y).dot(np.transpose(X[i]))))
        cost.append(computeCost(X, y, theta))
    return theta, cost

In [ ]:
theta_res = gradientDescent(X, y, theta, alpha, it)[0]
cost = gradientDescent(X, y, theta, alpha, it)[1]

## Ex 9

In [ ]:
theta_res

## Ex 10

In [ ]:
cost[-1]

## Ex 11

In [ ]:
#predicted values
predY = theta_res * X

In [ ]:
# For plotting purposes only
X = np.squeeze(np.asarray(X[1]))
y = np.squeeze(np.asarray(y))
predY = np.squeeze(np.asarray(predY))

In [ ]:
plt.plot(X, predY, X, y, 'r.')
plt.xlabel('Population')
plt.ylabel('Income')
plt.legend(['Predicted', 'Real'])
plt.show()

## Ex 12

In [ ]:
iterations = range(it)
costVal = np.squeeze(np.asarray(cost))

In [ ]:
plt.plot(iterations, costVal)
plt.xlabel('Iterations')
plt.ylabel('Cost function')
plt.title('Relationship betweeen number of iterations and cot function')
plt.show()

# Linear regression with multiple variables

In [ ]:
path = os.getcwd() + '/dane2.txt'
data2 = pd.read_csv(path, header=None, names=['Size', 'Bedrooms', 'Price'])


data2Bak = data2.copy()
data2.head()

In [ ]:
data2.Bedrooms = (data2.Bedrooms - data2.Bedrooms.mean()) / data2.Bedrooms.std()
data2.Size = (data2.Size - data2.Size.mean()) / data2.Size.std()
data2.Price = (data2.Price - data2.Price.mean()) / data2.Price.std()
data2.head()

## Ex 3

In [ ]:
data2.insert(loc=0, column='Cost', value=1, allow_duplicates=False)

## Ex 4

In [ ]:
X = data2[['Cost', 'Size', 'Bedrooms']]
X.head()

In [ ]:
y = data2.Price
y.head()

In [ ]:
X = np.matrix(X.values, dtype=np.float64).transpose()
y = np.matrix(y.values, dtype=np.float64)
theta = np.matrix(np.array([0,0,0]), dtype=np.float64)

## Ex 7

In [ ]:
computeCost(X, y, theta)

In [ ]:
theta_res = gradientDescent(X, y, theta, alpha, it)[0]
cost = gradientDescent(X, y, theta, alpha, it)[1]

## Ex 9

In [ ]:
theta_res

## Ex 10

In [ ]:
cost[-1]

## Ex 11

In [ ]:
xdata = np.linspace(-3,3,1000)
ydata = np.linspace(-3,3,100)
X,Y = np.meshgrid(xdata,ydata)

In [ ]:
Z = theta_res[0, 0] + X * theta_res[0, 1] + Y * theta_res[0, 2]

In [ ]:
# Create the figure
fig = plt.figure()

# Add an axes
ax = fig.add_subplot(111,projection='3d')

# plot the surface
ax.plot_surface(X, Y, Z, alpha=0.2)

# and plot the point 
ax.scatter(data2Bak.Size, data2Bak.Bedrooms, data2Bak.Price)
plt.title("simple 3D scatter plot")
ax.set_xlabel('Size')
ax.set_ylabel('Bedrooms')
ax.set_zlabel('Price')
 
# show plot
plt.show()

In [ ]:
data2Bak.head()